@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,700,900&subset=latin-ext");
html {
  font-size: 50%;
}

body {
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: Lato-Regular;
  background-color: #F6F1F1;
  color: #5E5E5E;
}

img {
  width: 100%;
}

h1 {
  font-size: 5rem;
  line-height: 6rem;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
}

p.surtitre {
  margin-bottom: 2rem;
}

p.chapo {
  line-height: 4rem;
  margin: 1rem 0;
}

p.date, p.surtitre {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.container {
  max-width: 141rem;
  margin: 0 auto;
}

button {
  background: #09B2BD !important;
  color: #fff !important;
  padding: 1rem .5rem;
}

header {
  display: grid;
  top: 7rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F6F1F1), to(rgba(246, 241, 241, 0.1))), url("../waves.jpg");
  background-image: linear-gradient(to bottom, #F6F1F1, rgba(246, 241, 241, 0.1)), url("../waves.jpg");
  background-size: cover;
  color: #5E5E5E;
  height: 59rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 51rem);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 51rem);
}
header .container {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  vertical-align: middle;
}
header .container h1 {
  color: #09B2BD;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
nav ul {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 2rem 0;
  margin: 0 2rem;
  text-align: center;
}
nav .primaryNav {
  color: #333;
  float: left;
}
nav .primaryNav .selected {
  border-bottom: solid 3px #FF5C00;
}
nav .primaryNav li:hover {
  color: #FF5C00;
  border-bottom: solid 3px #FF5C00;
}
nav .secondaryNav {
  color: rgba(51, 51, 51, 0.5);
  float: right;
}
nav .secondaryNav .selected {
  border-bottom: solid 3px #333;
}
nav .secondaryNav li:hover {
  color: #333;
  border-bottom: solid 3px #333;
}

#alaune {
  padding-top: 5rem;
  z-index: 50;
  position: relative;
}
#alaune .big {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
}
#alaune .big .date {
  grid-column: 8 / 13;
  grid-row: 1 / 2;
}
#alaune .big .chapo {
  grid-column: 8 / 13;
}
#alaune .big h1 {
  grid-column: 7 / 13;
  grid-row: 2 / 3;
  color: #333;
}
#alaune .big button {
  grid-column: 8 / 10;
}
#alaune .big img {
  grid-column: 1 / 8;
  grid-row: 1 / 5;
}

#categories {
  background: #fff;
}
#categories .container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-column-gap: 3rem;
}
#categories .container .cat .intro {
  text-align: center;
}
#categories .container .cat .intro .desc {
  margin: 0 12rem;
  color: rgba(78, 78, 78, 0.5);
}
#categories .container .cat .intro h3 {
  color: #FF5C00;
  font-size: 4rem;
  line-height: 4rem;
}
#categories .container .cat h1, #categories .container .cat h2, #categories .container .cat h3, #categories .container .cat h4, #categories .container .cat h5, #categories .container .cat h6 {
  color: #333;
}

#travel {
  background: #30393D;
  color: #F6F1F1;
  -webkit-clip-path: polygon(0 0, 100% 9rem, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 9rem, 100% 100%, 0 100%);
  margin-top: -7rem;
  padding-top: 12rem;
}
#travel h2 {
  color: #FF5C00;
  font-size: 7rem;
  line-height: 8rem;
}
#travel .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
}
#travel .container h2 {
  grid-column: 1 / 7;
}
#travel .container .desc {
  grid-column: 1 / 5;
  color: #F6F1F1;
  opacity: 0.5;
}
#travel .container .map {
  grid-column: 1 / 7;
}
#travel .container .map img {
  margin-left: -12rem;
  opacity: 0.2;
}
#travel .container .video {
  grid-column: 7 / 13;
  grid-row: 2 / 4;
}
#travel .container .video img {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

#second-level {
  margin-top: 10rem;
}

#all-articles {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
#all-articles .article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#all-articles .article img {
  grid-column: 3/6;
  grid-row: 1 / 2;
  height: 32rem;
}
#all-articles .article .align-bottom {
  grid-column: 1/4;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      align-self: end;
}
#all-articles .article .align-bottom h1 {
  color: #333;
  margin-bottom: 0 !important;
}
#all-articles .article .chapo {
  grid-column: 1/6;
}
#all-articles .article button {
  grid-column: 4/6;
}

#newsletter {
  margin: 20rem;
}

#instagram {
  margin: 20rem;
}
#instagram .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
}

footer {
  background: SlateGray;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

a {
  color: #FF5C00;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */