@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,700,900&subset=latin-ext");
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000354}}
body {
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: Lato-Regular;
  background-color: #F6F1F1;
  color: #5E5E5E;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000364}}
html {
  font-size: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000365}}
h1 {
  font-size: 5rem;
  line-height: 6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000366}}
h2 {
  font-size: 5rem;
  line-height: 6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000367}}
h3 {
  font-size: 4rem;
  line-height: 5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000368}}
p {
  font-size: 2rem;
  line-height: 3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000369}}
p.surtitre {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000370}}
p.chapo {
  line-height: 4rem;
  margin: 1rem 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000371}}
p.date, p.surtitre {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000372}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000379}}
a {
  color: #FF5C00;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000380}}
a:hover, a:active {
  color: #FF5C00;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000382}}
.link-article {
  color: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000383}}
.link-article:hover, .link-article:active {
  color: inherit;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000386}}
.link-article:hover h1, .link-article:active h1 {
  color: #09B2BD !important;
  transition: .25s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000391}}
span.categorie {
  color: #FF5C00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\0000393}}
.img-article {
  object-fit: cover;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003101}}
button {
  background: #09B2BD !important;
  color: #fff !important;
  padding: 1rem .5rem;
  display: block !important;
  margin: 1rem 0;
  font-size: 1.5rem !important;
  line-height: 3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003110}}
button:hover, button:active {
  background: #07858D !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003114}}
.wrapper {
  background-color: #F6F1F1;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003122}}
  .container {
    margin: 0 2rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003125}}
  header {
    height: 33rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003128}}
  #alaune {
    padding-top: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003130}}
  #alaune .date {
    margin: 1rem 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003133}}
  #alaune h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003138}}
  #travel {
    margin-top: 8rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003142}}
  #travel h1 {
    margin-bottom: 2rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003145}}
  #travel .map img {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003146}}
  #travel .second-col {
    margin-top: 4rem;
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003153}}
  #all-articles .link-article {
    margin-bottom: 4rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003155}}
  #all-articles .article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003161}}
  #all-articles .article img {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003166}}
  #all-articles .article .align-bottom {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003170}}
  #all-articles .article .align-bottom h1 {
    font-size: 4rem;
    line-height: 5rem;
    color: #333;
    margin-bottom: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003176}}
  #all-articles .article .align-bottom .date {
    margin-top: 1rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003179}}
  #all-articles .article .chapo {
    grid-column: 1 / 5;
    font-size: 2rem;
    line-height: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003184}}
  #all-articles .article button {
    grid-column: 3 / 5;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003193}}
  .container {
    margin: 0 auto;
    padding: 0 2rem;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003197}}
  #alaune {
    padding-top: 5rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003199}}
  #alaune .big {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003203}}
  #alaune .big .date {
    grid-column: 8 / 13;
    grid-row: 1 / 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003207}}
  #alaune .big .chapo {
    grid-column: 8 / 13;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003210}}
  #alaune .big h1 {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    font-size: 6rem;
    line-height: 7rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003216}}
  #alaune .big .image {
    grid-column: 1 / 8;
    grid-row: 1 / 5;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003223}}
  #travel {
    margin-top: -7rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003227}}
  #travel .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003232}}
  #travel .container h2 {
    grid-column: 1 / 7;
    font-size: 7rem;
    line-height: 8rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003236}}
  #travel .container .desc {
    grid-column: 1 / 5;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003239}}
  #travel .container .map {
    grid-column: 1 / 7;
    display: grid;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003242}}
  #travel .container .map img {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    margin-left: -6rem;
    opacity: 0.2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003248}}
  #travel .container .map button {
    z-index: 1000;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003255}}
  #travel .container .second-col {
    grid-column: 7 / 13;
    grid-row: 2 / 4;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003262}}
  #all-articles {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003265}}
  #all-articles .link-article {
    margin-bottom: 12rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003267}}
  #all-articles .article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    align-items: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003273}}
  #all-articles .article img {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003278}}
  #all-articles .article .align-bottom {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003282}}
  #all-articles .article .align-bottom h1 {
    color: #333;
    margin-bottom: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003286}}
  #all-articles .article .align-bottom .date {
    margin-top: 1rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003289}}
  #all-articles .article .chapo {
    grid-column: 1/6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003292}}
  #all-articles .article button {
    grid-column: 4/6;
  }
}
@media only screen and (min-width: 1440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003303}}
  .container {
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003306}}
  #alaune {
    padding-top: 5rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003308}}
  #alaune .big {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003312}}
  #alaune .big .date {
    grid-column: 8 / 13;
    grid-row: 1 / 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003316}}
  #alaune .big .chapo {
    grid-column: 8 / 13;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003319}}
  #alaune .big h1 {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    font-size: 6rem;
    line-height: 7rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003325}}
  #alaune .big .image {
    grid-column: 1 / 8;
    grid-row: 1 / 5;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003332}}
  #travel {
    margin-top: -7rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003336}}
  #travel .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003341}}
  #travel .container h2 {
    grid-column: 1 / 7;
    font-size: 7rem;
    line-height: 8rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003345}}
  #travel .container .desc {
    grid-column: 1 / 5;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003348}}
  #travel .container .map {
    grid-column: 1 / 7;
    display: grid;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003351}}
  #travel .container .map img {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    margin-left: -12rem;
    opacity: 0.2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003357}}
  #travel .container .map button {
    z-index: 1000;
    grid-row: 1 / 4;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003365}}
  #travel .container .second-col {
    grid-column: 7 / 13;
    grid-row: 2 / 4;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003369}}
  #travel .container .second-col img {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003376}}
  #all-articles {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003379}}
  #all-articles .link-article {
    margin-bottom: 12rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003381}}
  #all-articles .article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    align-items: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003387}}
  #all-articles .article img {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003393}}
  #all-articles .article .align-bottom {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003397}}
  #all-articles .article .align-bottom h1 {
    color: #333;
    margin-bottom: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003401}}
  #all-articles .article .align-bottom .date {
    margin-top: 1rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003404}}
  #all-articles .article .chapo {
    grid-column: 1/6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003407}}
  #all-articles .article button {
    grid-column: 4/6;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003414}}
.container {
  max-width: 141rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003419}}
header {
  display: grid;
  top: 7rem;
  background-image: linear-gradient(to bottom, #F6F1F1, rgba(246, 241, 241, 0.1)), url("../waves.jpg");
  background-size: cover;
  color: #5E5E5E;
  height: 59rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003425}}
header .container {
  align-self: center;
  justify-self: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003429}}
header .container h1 {
  color: #09B2BD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003440}}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003448}}
nav ul {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003452}}
nav ul li {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 2rem 0;
  margin: 0 2rem;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003460}}
nav .primaryNav {
  color: #333;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003463}}
nav .primaryNav .selected {
  border-bottom: solid 3px #FF5C00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003464}}
nav .primaryNav li:hover {
  color: #FF5C00;
  border-bottom: solid 3px #FF5C00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003466}}
nav .secondaryNav {
  color: rgba(51, 51, 51, 0.5);
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003469}}
nav .secondaryNav .selected {
  border-bottom: solid 3px #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003470}}
nav .secondaryNav li:hover {
  color: #333;
  border-bottom: solid 3px #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003474}}
#alaune {
  z-index: 50;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003477}}
#alaune .date {
  color: rgba(51, 51, 51, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003478}}
#alaune h1 {
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003482}}
#travel {
  background: #30393D;
  color: #F6F1F1;
  clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003492}}
#travel h1 {
  color: #FF7A2F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003493}}
#travel .desc {
  color: #F6F1F1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003495}}
#travel .video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003499}}
#travel .video .surtitre {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003503}}
#travel .video img {
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003509}}
#travel .video button {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003513}}
#travel .video .content {
  text-align: center;
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003519}}
#travel .video .content h3 {
  margin-top: 1rem;
  color: #09B2BD;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003525}}
#travel .video:hover, #travel .video:active {
  transition: .25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003527}}
#travel .video:hover h3, #travel .video:active h3 {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003529}}
#travel button {
  background-color: #FF5C00 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003530}}
#travel button:hover, #travel button:active {
  background-color: #FF7A2F !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003533}}
#second-level {
  margin-top: 10rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003543}}
#all-articles {
  margin-top: 3rem;
  display: grid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003550}}
#categories {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003554}}
#categories .container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-column-gap: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003561}}
#categories .container .cat .intro {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003563}}
#categories .container .cat .intro .desc {
  margin: 0 12rem;
  color: rgba(78, 78, 78, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003567}}
#categories .container .cat .intro h3 {
  color: #FF5C00;
  font-size: 4rem;
  line-height: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003573}}
#categories .container .cat h1, #categories .container .cat h2, #categories .container .cat h3, #categories .container .cat h4, #categories .container .cat h5, #categories .container .cat h6 {
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003582}}
#newsletter {
  margin: 20rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003586}}
#instagram {
  margin: 20rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003588}}
#instagram .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Git\/thisisdelphin\.github\.io\/theme\/css\/main\.scss}line{font-family:\00003599}}
footer #bio .polygon {
  clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 100%);
}

/*# sourceMappingURL=main.css.map */
