div {
  background: beige;
  margin: 8px;
}
header {
  background: azure;
  padding: 48px;
}

#alaune {
  background: cornflowerblue;
  margin: 8px;
  padding: 40px;
}

#categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#wanderlust {
  background: LavenderBlush;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

#wanderlust .intro {
  grid-column: 1 / 3;
}
