.container {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  background: azure;
  padding: 48px;
}

article {
  border: 3px solid crimson;
}

#alaune {
  background: cornflowerblue;
  margin: 8px;
  padding: 40px;

  .big {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  img {
    grid-column: 1 / 3;
  }

}

#categories {

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .cat-sm {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

#wanderlust {
  background: LavenderBlush;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  .intro {
    grid-column: 1 / 3;
  }
  .wanderlust {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img, .content {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    img {
      z-index: 1;
    }
    .content {
      z-index: 2;
      border: 1px solid blue;
    }
  }
}

#second-level {

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  aside {
    grid-column: 3 / 4;
  }
}

#all-articles {
  grid-column: 1 / 3;
}

footer {
  background: SlateGray;
  color: white;
}
