
#alaune {
  .surtitre {grid-area: surtitre;}
  article {
    grid-area: article;

  }
}

#travel {
  h2 {grid-area: title;}
  .desc {grid-area: desc;}
  .map {grid-area: map;}
  .video {grid-area: video;}

  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "title"
    "desc"
    "map"
    "video"
}

#second-level {grid-area: second-level;}

#categories {grid-area: categories;}

footer {grid-area: footer;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #travel {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "desc"
      "map"
      "video"
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #travel {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "desc"
      "map"
      "video"
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #travel {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title video"
      "desc video"
      "map video"
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #travel {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title video"
      "desc video"
      "map video"
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  .wrapper { width: 1440px; margin: 0 auto;}
  #travel {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title video"
      "desc video"
      "map video"
  }
}
