// COLORS
$PrimaryColor: #09B2BD;
$PrimaryColor-darker: #07858D;
$SecondaryColor: #FF5C00;
$SecondaryColor-lighter: #FF7A2F;
$BackgroundColor: #F6F1F1;
$BackgroundColor-darker: #EFE6E6;
$BackgroundColor50: rgba(246,241,241,0.5);
$White: #fff;
$Black: #000;
$TitleColor: #333;
$TextColor: #5E5E5E;
$TextColor50: rgba(51, 51, 51, 0.5);
$BackgroundVideo: #30393D;
